In [1]:
from init import *
from src.process_data import read_initial_data

In [10]:
fi, fj, fk = read_initial_data(['data/7_MWp_P.csv', 'data/10_MWp_P.csv','data/12_MWp_P.csv', 'data/19_MWp_P.csv'], '15T', ['1S' ], [7, 10, 12, 19])

In [12]:
#dataframe like
#original data set
fi[0][:4]

                                                P
2016-04-11 12:00:00.008333333-07:00  5.435515e+06
2016-04-11 12:00:00.016666666-07:00  5.434872e+06
2016-04-11 12:00:00.024999999-07:00  5.434465e+06
2016-04-11 12:00:00.033333332-07:00  5.436486e+06

In [13]:
#dataframe like
#resample data set, 
#take the mean, 
#take the diff of adjacent entries, 
#drop na values
fj[0][:4]

                                     P
2016-04-11 12:00:01-07:00 -8359.794002
2016-04-11 12:00:02-07:00 -5347.395741
2016-04-11 12:00:03-07:00  9688.947030
2016-04-11 12:00:04-07:00  2918.302132

In [14]:
#series of fj
fk[0][:4]

2016-04-11 12:00:01-07:00   -8359.794002
2016-04-11 12:00:02-07:00   -5347.395741
2016-04-11 12:00:03-07:00    9688.947030
2016-04-11 12:00:04-07:00    2918.302132
Freq: S, Name: P, dtype: float64

In [ ]:
mrr, em_mu, em_x, cdfs_data = \
generate_stochastic_load(fi, fk, '15T', ['1S'], [7, 10, 12, 19])